
/* azeret-mono */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles: */
.col-0D1321{
    color: #0D1321;
}

.title-style{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
}

.subtitle-style{
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: rgba(13, 19, 33, 0.7);
}

.para-style{
    font-size: 16px;
     color: #0D1321;
     line-height: 26px;
     opacity: 0.7;
}

.btn-style{
    width: 170px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0%;
    padding: 20px;
    opacity: 0.7;
    color: #0D1321;
    margin-bottom: 10px;
    text-align: center;
}
.white-color{
    background-color: #FFFFFF;
    
}
.div-color{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    gap: 99px;
    max-width: 946px;
    padding: 48px;
}


/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 140px;
}
.nav-title{
    font-size: 28px;
    font-weight: 800;

}
nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
}

nav li button{
    font-size: 20px;
    font-weight: 500;
    padding: 17px;
    border-radius: 8px;
    background-color: white;
    opacity: 0.8;
}

/* Banner style */
.banner{
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    align-items: center;
    padding: 35px 220px 50px 220px;
    margin-bottom: 100px;
}

.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.banner-img{
    width: 240px;
    height: 240px;
}
.banner .info{
    text-align: center;
}
.banner h1{
    font-weight: 800;
    font-size: 48px;
}

.banner p{
    font-size: 16px;
}

.banner button{
    padding: 24px;
    width: 244px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin-bottom: 80px;
}

/* Web development section style */
.web-dev{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin: 0 250px auto;
    border-radius: 16px;
    margin-bottom: 100px;
}

.dev-title{
    width: 852px;
    padding: 0 0 0 47px;
}

.div-inner{
    width: 477px;
    padding: 0 30px 0 0;
    text-align: start;
    gap: 32px;
}

/* Inspiration style */
.inspiration{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 48px;
    padding: 0;
    margin: 0 250px auto;
    border-radius: 16px;
    margin-bottom: 100px;
}

.inspiration-info{
    max-width: 852px;
}

.inspiration-title{
      font-weight: 800;
      font-size: 32px;
      color: #0D1321;
      margin-bottom: 24px;
}

.motivation{
    padding: 32px;
    border-radius: 16px;
    border: 2px solid rgba(13, 19, 33, 0.2);
}

iframe{
    border-radius: 16px;
}
