
/* azeret-mono */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles: */
.col-0D1321{
    color: #0D1321;
}

.title-style{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
}

.subtitle-style{
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: rgba(13, 19, 33, 0.7);
}

.para-style{
    font-size: 16px;
     color: #0D1321;
     line-height: 26px;
     opacity: 0.7;
}

.btn-style{
    width: 170px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0%;
    padding: 20px;
    opacity: 0.7;
    color: #0D1321;
    margin-bottom: 10px;
    text-align: center;
}
.white-color{
    background-color: #FFFFFF;
    
}
.div-color{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    gap: 99px;
    max-width: 946px;
    padding: 48px;
}

.heading-style{
    font-weight: 800;
    font-size: 24px;
    color: #0D1321;
}

.para-style2{
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
    opacity: 0.7;
    color: #0D1321;
}

.button-style{
    font-weight: bold;
    font-size: 16px;
    color: #0D1321;
}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 140px;
}
.nav-title{
    font-size: 28px;
    font-weight: 800;

}
nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
}

nav li button{
    font-size: 20px;
    font-weight: 500;
    padding: 17px;
    border-radius: 8px;
    background-color: white;
    opacity: 0.8;
}

/* Banner style */
.banner{
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    align-items: center;
    padding: 35px 220px 50px 220px;
    margin-bottom: 100px;
}

.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.banner-img{
    width: 240px;
    height: 240px;
}
.banner .info{
    text-align: center;
}
.banner h1{
    font-weight: 800;
    font-size: 48px;
}

.banner p{
    font-size: 16px;
}

.banner button{
    padding: 24px;
    width: 244px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin-bottom: 80px;
}

/* Web development section style */
.web-dev{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin: 0 250px auto;
    border-radius: 16px;
    margin-bottom: 100px;
}

.dev-title{
    width: 852px;
    padding: 0 0 0 47px;
}

.div-inner{
    width: 477px;
    padding: 0 30px 0 0;
    text-align: start;
    gap: 32px;
}

/* Inspiration style */
.inspiration{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 48px;
    padding: 0;
    margin: 0 250px auto;
    border-radius: 16px;
    margin-bottom: 100px;
}

.inspiration-info{
    max-width: 852px;
}

.inspiration-title{
      font-weight: 800;
      font-size: 32px;
      color: #0D1321;
      margin-bottom: 24px;
}

.motivation{
    padding: 32px;
    border-radius: 16px;
    border: 2px solid rgba(13, 19, 33, 0.2);
}

iframe{
    border-radius: 16px;
}


/* Target style */
.target{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 111px;
    text-align: center;
    margin-bottom: 100px;
}
.current-target{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-direction: column;
}

.target-tech{
    display: flex;
    gap: 24px;
    max-width: 1140px;
}

.tech{
    width: 364px;
    padding: 40px;
    height: 199px;
    text-align: start;
    gap: 24px;
    border-radius: 16px;
    /* width: 477px;
    padding: 0 30px 0 0;
    text-align: start;
    gap: 32px; */
}

.tech1{
    background-color: rgba(255, 76, 30, 0.05);
}
.tech2{
    background-color: rgba(0, 76, 232, 0.05);
}
.tech3{
    background-color: rgba(255, 223, 0, 0.05);
}

.next-target{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.next-target-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.next-tech{
    display: flex;
    gap: 24px;
    border: 2px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    max-width: 1040px;
    padding: 40px;
}

.next-tech .image1, .image3{
    height: 96px;
    padding: 10px 0;
}

.next-tech .image2{
    height: 88px;
    width: 143px;
    padding: 24px 0;
}

/* width: 477px;
    padding: 0 30px 0 0;
    text-align: start;
    gap: 32px; */
.future-target{
    text-align: start;
    width: 941px;
    padding: 0px;
}

.support{
    max-width: 1040px;
    margin: 0 auto;
    height: 300px;
    background-image: url('../assets/handshake.jpg');
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 100px;
    text-align: center;
    padding: 64px 40px;
    color: white;
}

.support-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
}

.support-description{
    line-height: 28px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.support input[type="text"]{
    padding: 20px;
    width: 530px;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 16px;
    color: rgba(13, 19, 33, 0.4);
}

.support button{
    padding: 20px;
    border-radius: 8px;
    width: 120px;
    font-weight: 500;
    font-size: 20px;
}
